<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
#* @vtlvariable name="token" type="java.lang.String" *#
<html>
    <head>
        <title>$i18n.getText("com.atlassian.oauth.serviceprovider.denied.access.title")</title>
        <meta name="decorator" content="atl.popup">
        $webResourceManager.requireResource("com.atlassian.oauth.serviceprovider:authorization-resources")
    </head>
    <body>
        <h3>$i18n.getText("com.atlassian.oauth.serviceprovider.denied.access.title")</h3>
        <p>$i18n.getText("com.atlassian.oauth.serviceprovider.denied.access.message", $token.consumer.name)</p>
    </body>
</html>
