table.access-token-list td.cell-icon {
    width: 32px;
}

table.access-token-list td.cell-icon .default-icon {
    background: transparent url("../../../download/resources/com.atlassian.oauth.serviceprovider:access-token-resources/images/default-icon.png") 50% 50% no-repeat;
    background-size: 32px;
}

table.access-token-list td.cell-icon,
table.access-token-list td.cell-details,
table.access-token-list td.cell-date,
table.access-token-list td.cell-access-level,
table.access-token-list td.cell-revoke {
    vertical-align: middle;
}

#oauth-user-profile .hidden {
    display: none;
}
