
#oauth-authorize {
    background-color: #FAFAFA;
    padding: 10% 0;
    width: 100%;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
}

#oauth-authorize #main {
    margin: 0 auto;
    width: 560px;
}

#oauth-authorize #main-header h1 {
    font-size: 24px;
    font-weight: bold;
}

#oauth-authorize #container {
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #FFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
}
