#oauth-plugin p {
  margin: 0 0 0.5em 0;
}

#oauth-plugin .subcontent + .content {
    margin-right: 24em;
}

#oauth-plugin .subcontent {
  background: #e0efff;
  border: 1px solid #9eb6d4;
  float: right;
  margin: 0 1em 1em 1.5em;
  padding: 1em 1em 0.5em 1em;
  width: 20em;
}

#oauth-plugin form h2,
#oauth-plugin .buttons-container {
  clear: left;
}

#com-atlassian-confluence #oauth-plugin textarea.license {
    background-color: #fff;
    text-align: left;
}

#com-atlassian-confluence #oauth-plugin a.cancel {
    background: transparent;
}